:root {
    --primary-color: #a99199;
    --highlight-color: #D01151;
    --dark-grey: #3B3537;
    --light-grey: #868686;
}

body {
    font-family: 'Source Sans Pro', serif;
    font-weight: 300;
    color: var(--dark-grey);
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Oswald', sans-serif;
}
h2, h3, h4 {
    font-weight: 400;
}
h5, h6 {
    font-weight: 200;
}
h4 {
    font-size: 1.8rem;
}
a, a:visited {
    color: var(--highlight-color);
}
a:hover {
    color: var(--primary-color);
    text-decoration: none;
}
a >img {
    transition: all 1s ease;
}
a > img:hover {
    -webkit-filter: drop-shadow(2px 2px 4px rgba(80, 40, 50, 0.7));
    filter: drop-shadow(0px 1px 2px rgba(80,40,50,0.7));
}
a.text-grey {
    color: var(--light-grey);
}
.footer {
    padding: 1rem;
    font-size: 0.8rem;
}
.footer p {
    font-size: 0.75rem;
}
.text-color {
    color: var(--primary-color);
}
.text-grey {
    color: var(--light-grey);
}
.text-white {
    color: #FFF;
}
.text-box-grey {
    background-color: #dedede;
    min-height: 12rem;
    margin: 1rem 0;
    padding: 1.25rem;
    border-radius: 0.25rem;
}
.text-box-light {
    background-color: rgba(169, 145, 153, 0.25);
    min-height: 12rem;
    margin: 1rem 0;
    padding: 1.25rem;
    border-radius: 0.25rem;
}
.font-cursive {
    font-family: cursive;
}
.text-x-large {
    font-size: 6vw;
    line-height: inherit;
}
.text-xx-large {
    font-size: 8.5vw;
}
.text-xxx-large {
    font-size: 14vw;
}
.masked-text-light {
    background-size: cover !important;
    font-weight: 600;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.3);
    background: url(../img/text_mask_nature.png);
    -webkit-background-clip: text;
}
.masked-text {
    background-size: cover !important;
    font-weight: bold;
    -webkit-text-fill-color: #ffffff75;
    background: url(../img/hero_cover_photo_nature2.png);
    -webkit-background-clip: text;
}
:focus, button:focus {
    outline: none;
}
.bg-light {
    background-color: #fff;
}
.navbar-nav {
    text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link, .nav-link:active {
    color: var(--highlight-color);
}
.navbar-light .navbar-nav .nav-link.active {
    color: var(--primary-color);
    border-bottom: var(--primary-color) solid 0.05rem;
    cursor: default;
}
.edge-menu {
    margin-left: -3rem;
}
.dropdown-item {
    white-space: inherit;
    color: #868686;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #a56e80;
}
.dropdown-item.active, .dropdown-item:active {
    color: rgb(255, 255, 255);
    background-color: var(--highlight-color);
}
.list-group-item-success {
    height: 4rem;
    line-height: 2;
}
li.nav-item {
    font-family: 'Source Sans Pro';
    font-size: 1rem;
}
li.menu-divider {
    line-height: 2.5rem;
    color: #cdcdcd;
}
.btn {
    font-weight: 300;
}
button.navbar-toggler {
    border: inherit;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}
.outside-container {
    padding: 8rem 6vw;
    background-color: #e9ecef;
}
.content-box {
    background-color: #fff;
    border-radius: 0.5rem;
    box-shadow: 0px 4px 10px #00000070;
}
.text-truncate-multiline {
    display: inline-block;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;overflow: hidden;
}
.btn-primary {
    width: 28rem;
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
    width: 80%;
    border-radius: 2rem;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.btn-primary:hover, .btn-primary:active {
    background-color: #a56e80;
    border-color: #a56e80;
}
.btn-primary:not([disabled]):not(.disabled):active {
    background-color: #a56e80;
    border-color: #a56e80;
}
.btn-primary:visited {
    color: #FFFFFF;
}
.img-round {
    border-radius: 1rem;
}
.jumbotron {
    text-align: center;
    padding-top: 12rem;
    padding-bottom: 10rem;
}
.jumbotron.hero-header {
    padding-top: 10rem;
}
.hero-header {
    background-image: url("../img/hero_cover_photo_nature.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.about-header {
    background-image: url("../img/hero_cover_photo_nature2.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.project-header {
    background-image: url("../img/demo-project/3dEatup_small.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.edit-project-header {
    background-image: url("../img/photo_nature_crop.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.5rem 0.5rem 0 0;
}
.project-card {
    background-color: #f3f3f3;
    padding: 1rem;
    border-radius: 0.25rem;
    margin-bottom: 1.25rem;
}
.project-thumbnail {
    position: relative;
    margin-bottom: 1rem;
}
.project-thumbnail-img {
    width: 100%;
    background-image: url("../img/demo-project/3dEatup_small.png");
    height: 10rem;
    background-size: cover;
    border-radius: .25rem;
}
.title-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.25);
    text-align: center;
    width: 100%;
    padding-top: 3rem;
    height: 10rem;
    border-radius: .25rem;
}
.header-title-overlay {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    margin-bottom: 2rem;
    padding: 6rem 2rem;
    height: 19rem;
    border-radius: 0.5rem 0.5rem 0 0;
}
.text-label {
    font-size: 0.8rem;
}
.inline {
    display: inline-flex;
}
.initial {
    display: inline
}
.arrow-down {
    margin-bottom: 0.5rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 12px 0 12px;
    border-color: #a56e80 transparent transparent transparent;
}
.clear-v-margin {
    width: 110%;
    margin-left: -5%;
}
.range-step-odd, .range-step-even {
    border-left: dotted 0.1rem var(--primary-color);
    padding-top: 2.1rem;
    margin-left: 50%;
}
.range-box-16 {
    width: 16.666%;
}
.main-project-img {
    width: 100%;
    padding: 1rem;
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: .25rem;
    margin-top: 1rem;
}
.img-sm {
    width: 2.25rem;
    height: 2.25rem;
}
.thumbnail-project-img {
    width: 100%;
    object-fit: cover;
    height: 6rem;
}
.img-thumbnail {
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
}
.login-btn {
    width: 50%;
    left: 0;
    right: 0;
    margin: auto;
}
.center-viewport {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.pointer {
    cursor: pointer;
}
.frame {
    border: var(--primary-color) solid 0.2rem;
    border-radius: 0.5rem;
}
.header-arrow-position {
    position: absolute;
    padding-top: 4rem;
    left: 0;
    right: 0;
}
.header-arrow {
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 2rem;
    opacity: 0.8;
}
.text-white::placeholder, .text-white::-webkit-input-placeholder  {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 300;
}
label > img {
    cursor: pointer;
}
.input-inherit {
    line-height: normal;
    text-align: inherit;
    color: inherit;
    font-style: inherit;
    background: transparent;
    border-color: rgba(169, 145, 153, 0.05);
}
input#project-title, input#project-slogan {
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: solid 0.1rem #FFFFFF50;
}
.image-upload > #file-upload {
    display: none;
}
input::placeholder, input::-webkit-input-placeholder  {
    color: rgb(175, 175, 175);
}
textarea::placeholder, textarea::-webkit-input-placeholder  {
    color: rgb(175, 175, 175);
}
textarea {
    width: -webkit-fill-available;
    resize: none;
}

@media (min-width: 768px){
    .btn-primary {
        width: 28rem;
    }
}

@media (min-width: 992px){
    .float-lg-left, .float-lg-right {
        width: 45%;
    }
    .edge-menu {
        margin-left: -9rem;
    }
}

@media (max-width: 990px){
    li.menu-divider {
        display: none;
    }
}
@media (max-width: 450px) {
    .range-step-even {
        padding-top: 1rem;
    }
    .login-btn {
        width: 100%;
    }
}
@media (min-width:768px) {
    .card-responsive {
    height: 28rem;
    }
    .input-range-margin {
        margin: 0 1rem;
    }
}
@media (min-width:991px) {
    .card-responsive {
        height: 26rem;
    }
}

/* RADIO CATEGORIES */
input[type=checkbox] + .categories {
    width: 32px;
    height: 32px;
    display:inline-block;
    margin-top: 0.5rem;
}
label {
    cursor: pointer;
    margin-bottom: 0;
}
input[type=checkbox] + .category-environment {
    background: url(../img/icons/icon_label_environment_off.svg);
    background-repeat: no-repeat;
    background-size: 32px;
}
input[type=checkbox]:checked + .category-environment {
    background: url(../img/icons/icon_label_environment.svg);
    background-repeat: no-repeat;
    background-size: 32px;
}
input[type=checkbox] + .category-animals {
    background: url(../img/icons/icon_label_animals_off.svg);
    background-repeat: no-repeat;
    background-size: 32px;
}
input[type=checkbox]:checked + .category-animals {
    background: url(../img/icons/icon_label_animals.svg);
    background-repeat: no-repeat;
    background-size: 32px;
}
input[type=checkbox] + .category-communities {
    background: url(../img/icons/icon_label_communities_off.svg);
    background-repeat: no-repeat;
    background-size: 32px;
}
input[type=checkbox]:checked + .category-communities {
    background: url(../img/icons/icon_label_communities.svg);
    background-repeat: no-repeat;
    background-size: 32px;
}
input[type=checkbox] + .category-education {
    background: url(../img/icons/icon_label_education_off.svg);
    background-repeat: no-repeat;
    background-size: 32px;
}
input[type=checkbox]:checked + .category-education {
    background: url(../img/icons/icon_label_education.svg);
    background-repeat: no-repeat;
    background-size: 32px;
}
input[type=checkbox] + .category-health {
    background: url(../img/icons/icon_label_health_off.svg);
    background-repeat: no-repeat;
    background-size: 32px;
}
input[type=checkbox]:checked + .category-health {
    background: url(../img/icons/icon_label_health.svg);
    background-repeat: no-repeat;
    background-size: 32px;
}

/* SLIDER CSS */
input#project-progress {
    width: 100%;
    -webkit-appearance: none;
    -moz-apperance: none;
    margin: 1rem 0;
}
input[type="range"]{
    -webkit-appearance: none;
    -moz-apperance: none;
    border-radius: 1rem;
    height: 0.8rem;
    background-color: #fff;
    border: var(--primary-color) 1px solid;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background-color: var(--highlight-color);
    border: 1px solid #fff;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1rem;
}

.hidden {
    display: none;
}
